<!-- fotos.component.html -->

<div class="container-fuild text-start">
  <h2>Agregar Foto a Local</h2>
  <form (ngSubmit)="agregarFoto()" #fotoForm="ngForm">
    <div class="row">
      <div class="col-lg-5">
        <div class="form-group">
          <label for="localId">ID del Local:</label>
          <br />
          <input
            type="number"
            class="form-control"
            id="localId"
            name="localId"
            [(ngModel)]="localId"
            required
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="rutaImagen">URL de la Imagen:</label>
          <br />
          <input
            type="text"
            class="form-control"
            id="rutaImagen"
            name="rutaImagen"
            [(ngModel)]="rutaImagen"
            required
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button
            type="submit"
            class="btn btn-primary mt-3 py-3"
            [disabled]="!fotoForm.valid"
          >
            Agregar Foto Local
          </button>
        </div>
      </div>
    </div>
  </form>
  <div>
  </div>

  <div class="container-fluid text-start">
    <h2>Agregar Foto a Evento</h2>
    <form
      (ngSubmit)="agregarFotoEvent(localId, eventId, rutaImagen)"
      #fotoForm="ngForm"
    >
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="localId">ID del Local:</label>
            <input
              type="number"
              class="form-control"
              id="localId"
              name="localId"
              [(ngModel)]="localId"
              required
            />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="eventId">ID del Evento:</label>
            <input
              type="number"
              class="form-control"
              id="eventId"
              name="eventId"
              [(ngModel)]="eventId"
              required
            />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="rutaImagen">URL de la Imagen:</label>
            <input
              type="text"
              class="form-control"
              id="rutaImagen"
              name="rutaImagen"
              [(ngModel)]="rutaImagen"
              required
            />
          </div>
        </div>
        <div class="col">
          <div class="d-grid gap-2 col-6 mx-auto">
            <button
            type="submit"
            class="btn btn-primary  mt-3 py-3" style="margin-left: 10px;"
            [disabled]="!fotoForm.valid"
          >
            Agregar Foto Evento
          </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
