<div class="container-fluid">
  <div class="row">
    <!--Table-->
    <div class="col">
      <div class="card">
        <div class="card-body" style="width: 135%">
          <h4 class="card-title">Eventos</h4>
          <p class="card-description">Add eventos <code>.table</code></p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Id Local</th>
                  <th>Titulo</th>
                  <th>Fecha</th>
                  <th>Lugar</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let evento of eventos">
                  <td>{{ evento.id_local }}</td>
                  <td>{{ evento.titulo }}</td>
                  <td>{{ evento.fecha }}</td>
                  <td>{{ evento.lugar }}</td>
                  <td>{{ evento.descripcion }}</td>
                  <td><label class="badge badge-danger">Pending</label></td>
                  <td>
                    <button
                    (click)="openModalEditar(evento)"
                    >
                      <i class="bi bi-pencil-square fs-0"></i>
                    </button>
                  </td>
                  <td>
                    <button
                    (click)="deleteEvent(evento.id)"
                     >
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <!--Modal Editar-->
      <ng-template #editModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Editar Evento</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="titulo">Titulo</label>
              <input type="text" id="titulo" class="form-control" formControlName="titulo">
            </div>
            <div class="form-group">
              <label for="fecha">Fecha</label>
              <input type="date" id="fecha" class="form-control" formControlName="fecha">
            </div>
            <div class="form-group">
              <label for="lugar">Lugar</label>
              <input type="text" id="lugar" class="form-control" formControlName="lugar">
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea id="descripcion" class="form-control" formControlName="descripcion"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
              <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Guardar cambios</button>
            </div>
          </form>
        </div>
      </ng-template>

    </div>

    <!---Calendario-->
    <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
      <div class="card">
        <div class="card-body">
          <div
            class="datepicker datepicker-dropdown datepicker-orient-right datepicker-orient-bottom"
            style="border-left: 1px solid"
          >
            <div class="datepicker-days">
              <table class="table-condensed">
                <thead>
                  <tr>
                    <th
                      colspan="7"
                      class="datepicker-title"
                      style="display: none"
                    ></th>
                  </tr>
                  <tr>
                    <th colspan="5" class="datepicker-switch">May 2024</th>
                  </tr>
                  <tr>
                    <th class="dow">Su</th>
                    <th class="dow">Mo</th>
                    <th class="dow">Tu</th>
                    <th class="dow">We</th>
                    <th class="dow">Th</th>
                    <th class="dow">Fr</th>
                    <th class="dow">Sa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td
                      class="old day"
                      data-date="1714262400000"
                      (click)="openModal(1714262400000)"
                    >
                      28
                    </td>
                    <td
                      class="old day"
                      data-date="1714348800000"
                      (click)="openModal(1714348800000)"
                    >
                      29
                    </td>
                    <td
                      class="old day"
                      data-date="1714435200000"
                      (click)="openModal(1714435200000)"
                    >
                      30
                    </td>
                    <td
                      class="day"
                      data-date="1714521600000"
                      (click)="openModal(1714521600000)"
                    >
                      1
                    </td>
                    <td
                      class="day"
                      data-date="1714608000000"
                      (click)="openModal(1714608000000)"
                    >
                      2
                    </td>
                    <td
                      class="day"
                      data-date="1714694400000"
                      (click)="openModal(1714694400000)"
                    >
                      3
                    </td>
                    <td
                      class="day"
                      data-date="1714780800000"
                      (click)="openModal(1714780800000)"
                    >
                      4
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="day"
                      data-date="1714867200000"
                      (click)="openModal(1714867200000)"
                    >
                      5
                    </td>
                    <td
                      class="day"
                      data-date="1714953600000"
                      (click)="openModal(1714953600000)"
                    >
                      6
                    </td>
                    <td
                      class="day"
                      data-date="1715040000000"
                      (click)="openModal(1715040000000)"
                    >
                      7
                    </td>
                    <td
                      class="day"
                      data-date="1715126400000"
                      (click)="openModal(1715126400000)"
                    >
                      8
                    </td>
                    <td
                      class="day"
                      data-date="1715212800000"
                      (click)="openModal(1715212800000)"
                    >
                      9
                    </td>
                    <td
                      class="day"
                      data-date="1715299200000"
                      (click)="openModal(1715299200000)"
                    >
                      10
                    </td>
                    <td
                      class="day"
                      data-date="1715385600000"
                      (click)="openModal(1715385600000)"
                    >
                      11
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="day"
                      data-date="1715472000000"
                      (click)="openModal(1715472000000)"
                    >
                      12
                    </td>
                    <td
                      class="day"
                      data-date="1715558400000"
                      (click)="openModal(1715558400000)"
                    >
                      13
                    </td>
                    <td
                      class="day"
                      data-date="1715644800000"
                      (click)="openModal(1715644800000)"
                    >
                      14
                    </td>
                    <td
                      class="day"
                      data-date="1715731200000"
                      (click)="openModal(1715731200000)"
                    >
                      15
                    </td>
                    <td
                      class="day"
                      data-date="1715817600000"
                      (click)="openModal(1715817600000)"
                    >
                      16
                    </td>
                    <td
                      class="day"
                      data-date="1715904000000"
                      (click)="openModal(1715904000000)"
                    >
                      17
                    </td>
                    <td
                      class="day"
                      data-date="1715990400000"
                      (click)="openModal(1715990400000)"
                    >
                      18
                    </td>
                  </tr>
                  <tr>
                    <td
                      class=" day"
                      data-date="1716076800000"
                      (click)="openModal(1716076800000)"
                    >
                      19
                    </td>
                    <td
                      class="day"
                      data-date="1716163200000"
                      (click)="openModal(1716163200000)"
                    >
                      20
                    </td>
                    <td
                      class="day"
                      data-date="1716249600000"
                      (click)="openModal(1716249600000)"
                    >
                      21
                    </td>
                    <td
                      class="day"
                      data-date="1716336000000"
                      (click)="openModal(1716336000000)"
                    >
                      22
                    </td>
                    <td
                      class="day"
                      data-date="1716422400000"
                      (click)="openModal(1716422400000)"
                    >
                      23
                    </td>
                    <td
                      class="day"
                      data-date="1716508800000"
                      (click)="openModal(1716508800000)"
                    >
                      24
                    </td>
                    <td
                      class="day"
                      data-date="1716595200000"
                      (click)="openModal(1716595200000)"
                    >
                      25
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="day"
                      data-date="1716681600000"
                      (click)="openModal(1716681600000)"
                    >
                      26
                    </td>
                    <td
                      class="day"
                      data-date="1716768000000"
                      (click)="openModal(1716768000000)"
                    >
                      27
                    </td>
                    <td
                      class="day"
                      data-date="1716854400000"
                      (click)="openModal(1716854400000)"
                    >
                      28
                    </td>
                    <td
                      class="day"
                      data-date="1716940800000"
                      (click)="openModal(1716940800000)"
                    >
                      29
                    </td>
                    <td
                      class="day"
                      data-date="1717027200000"
                      (click)="openModal(1717027200000)"
                    >
                      30
                    </td>
                    <td
                      class="day"
                      data-date="1717113600000"
                      (click)="openModal(1717113600000)"
                    >
                      31
                    </td>
                    <td
                      class="new day"
                      data-date="1717200000000"
                      (click)="openModal(1717200000000)"
                    >
                      1
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="new day"
                      data-date="1717286400000"
                      (click)="openModal(1717286400000)"
                    >
                      2
                    </td>
                    <td
                      class="new day"
                      data-date="1717372800000"
                      (click)="openModal(1717372800000)"
                    >
                      3
                    </td>
                    <td
                      class="new day"
                      data-date="1717459200000"
                      (click)="openModal(1717459200000)"
                    >
                      4
                    </td>
                    <td
                      class="new day"
                      data-date="1717545600000"
                      (click)="openModal(1717545600000)"
                    >
                      5
                    </td>
                    <td
                      class="new day"
                      data-date="1717632000000"
                      (click)="openModal(1717632000000)"
                    >
                      6
                    </td>
                    <td
                      class="new day"
                      data-date="1717718400000"
                      (click)="openModal(1717718400000)"
                    >
                      7
                    </td>
                    <td
                      class="new day"
                      data-date="1717804800000"
                      (click)="openModal(1717804800000)"
                    >
                      8
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Modal Agregar-->
            <ng-template #calendarModal let-modal>
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="calendarModalLabel">
                  Selected Date: {{ selectedDate }}
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                ></button>
              </div>
              <div class="modal-body">
                <form (submit)="crearEvento()">
                  <div>
                    <label class="form-label" for="id_local">ID Local:</label>
                    <input
                      class="form-control"
                      id="id_local"
                      aria-describedby="id_local"
                      type="number"
                      name="id_local"
                      [(ngModel)]="evento.id_local"
                      [ngModelOptions]="{standalone: true}"
                      required
                    />
                  </div>
                  <div>
                    <label class="form-label" for="titulo">Título:</label>
                    <input
                      class="form-control"
                      type="text"
                      id="titulo"
                      name="titulo"
                      [(ngModel)]="evento.titulo"
                      [ngModelOptions]="{standalone: true}"
                      required
                    />
                  </div>
                  <div>
                    <label class="form-label" for="fecha">Fecha:</label>
                    <input
                      class="form-control"
                      type="date"
                      id="fecha"
                      name="fecha"
                      [(ngModel)]="evento.fecha"
                      [ngModelOptions]="{standalone: true}"
                      required
                    />
                  </div>
                  <div>
                    <label class="form-label" for="lugar">Lugar:</label>
                    <input
                      class="form-control"
                      type="text"
                      id="lugar"
                      name="lugar"
                      [(ngModel)]="evento.lugar"
                      [ngModelOptions]="{standalone: true}"
                      required
                    />
                  </div>
                  <div>
                    <label class="form-label" for="descripcion"
                      >Descripción:</label
                    >
                    <input
                      class="form-control"
                      id="descripcion"
                      type="text"
                      [(ngModel)]="evento.descripcion"
                      [ngModelOptions]="{standalone: true}"
                      required
                    />
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                      Crear Evento
                    </button>
                  </div>
                </form>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
