<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../assets/vendor/feather/feather.css" />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/ti-icons/css/themify-icons.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/typicons/typicons.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/simple-line-icons/css/simple-line-icons.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/css/vendor.bundle.base.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="../../../assets/vendor/datatables.net-bs4/dataTables.bootstrap4.css"
    />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="../../../assets/images/favicon.png" />
  </head>
  <body class="with-welcome-text">
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav
        class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row"
      >
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start"
        >
          <div class="me-3">
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-bs-toggle="minimize"
            >
              <span class="icon-menu"></span>
            </button>
          </div>
          <div>
            <a class="navbar-brand brand-logo" href="index.html">
              <img src="assets/images/logo.svg" alt="logo" />
            </a>
            <a class="navbar-brand brand-logo-mini" href="index.html">
              <img src="assets/images/logo-mini.svg" alt="logo" />
            </a>
          </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
          <ul class="navbar-nav">
            <li class="nav-item fw-semibold d-none d-lg-block ms-0">
              <h1 class="welcome-text">
                Good Morning, <span class="text-black fw-bold">Usuario</span>
              </h1>
              <h3 class="welcome-sub-text">
                Your performance summary this week
              </h3>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <form class="search-form" action="#">
                <i class="icon-search"></i>
                <input
                  type="search"
                  class="form-control"
                  placeholder="Search Here"
                  title="Search here"
                />
              </form>
            </li>

            <li class="nav-item dropdown d-none d-lg-block user-dropdown">


              <a (click)="logout()" class="nav-link mt-1" href="" aria-expanded="false">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="currentColor"
                  class="bi bi-box-arrow-in-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link " >
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
              </a>
            </li>
            <li class="nav-item nav-category">UI Elements</li>

            <li class="nav-item">
              <a class="nav-link">
                <i class="menu-icon mdi mdi-calendar"></i>
                <span class="menu-title">Eventos</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="docs/documentation.html">
                <i class="menu-icon mdi mdi-cog"></i>
                <span class="menu-title">Configuracion</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="home-tab">
                  <div
                    class="d-sm-flex align-items-center justify-content-between border-bottom"
                  >
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a
                          class="nav-link active ps-0"
                          id="home-tab"
                          data-bs-toggle="tab"
                          href="#overview"
                          role="tab"
                          aria-controls="overview"
                          aria-selected="true"
                          >Inicio</a
                        >
                      </li>
                    </ul>
                    <div>
                      <div class="btn-wrapper">
                        <button
                          type="button"
                          class="btn btn-primary btn-primary text-white me-2"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal"
                        >
                          <i class="icon-plus"></i> Agregar Local
                        </button>
                      </div>
                    </div>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                              Formulario Local
                            </h1>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <div class="container">
                              <h2>Agregar Local</h2>

                              <form
                                [formGroup]="localForm"
                                (ngSubmit)="onSubmit()"
                              >
                                <div class="form-group">
                                  <label for="id">ID:</label>
                                  <input
                                    type="number"
                                    formControlName="id"
                                    id="id"
                                    class="form-control"
                                    placeholder="Ingrese el ID del local"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="nombre">Nombre:</label>
                                  <input
                                    type="text"
                                    formControlName="nombre"
                                    id="nombre"
                                    class="form-control"
                                    placeholder="Ingrese el nombre del local"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="direccion">Dirección:</label>
                                  <input
                                    type="text"
                                    formControlName="direccion"
                                    id="direccion"
                                    class="form-control"
                                    placeholder="Ingrese la dirección del local"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="telefono">Teléfono:</label>
                                  <input
                                    type="text"
                                    formControlName="telefono"
                                    id="telefono"
                                    class="form-control"
                                    placeholder="Ingrese el teléfono del local"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="logo">Logo:</label>
                                  <input
                                    type="text"
                                    formControlName="logo"
                                    id="logo"
                                    class="form-control"
                                    placeholder="Ingrese el URL del logo del local"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="categoria">Categoría:</label>
                                  <input
                                    type="text"
                                    formControlName="categoria"
                                    id="categoria"
                                    class="form-control"
                                    placeholder="Ingrese la categoría del local"
                                  />
                                </div>

                                <div class="form-group">
                                  <button type="submit" class="btn btn-primary">
                                    Agregar Local
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-success">
                              Save changes
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content tab-content-basic">
                    <div
                      class="tab-pane fade show active"
                      id="overview"
                      role="tabpanel"
                      aria-labelledby="overview"
                    >
                      <div class="row">

                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th >NOMBRE</th>
                                <th >DIRRECCION</th>
                                <th>TELEFONO</th>
                                <th >CATEGORIA</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngIf="local">
                                <td>{{ local.nombre }}</td>
                                <td>{{ local.direccion }}</td>
                                <td>{{ local.telefono }}</td>
                                <td>{{ local.categoria }}</td>
                                <td>
                                  <label class="badge badge-success"
                                    >Pending</label
                                  >
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <div *ngIf="!local">
                          <div class="alert alert-danger" role="alert">
                            No se encontro locales a su nombre
                            <p>Agregue locales</p>
                          </div>
                        </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
        <!-- content-wrapper ends -->
    </div>
      <!-- main-panel ends -->
      <!-- <button (click)="obtener()">Obtener valores del localStorage</button> -->
    <!-- container-scroller -->
  </body>
</html>
