<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../assets/vendor/feather/feather.css" />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/ti-icons/css/themify-icons.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/typicons/typicons.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/simple-line-icons/css/simple-line-icons.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/css/vendor.bundle.base.css"
    />
    <link
      rel="stylesheet"
      href="../../../assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="../../../assets/vendor/datatables.net-bs4/dataTables.bootstrap4.css"
    />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="../../../assets/images/favicon.png" />
  </head>
  <body class="with-welcome-text">
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav
        class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row"
      >
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start"
        >
          <div class="me-3">
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-bs-toggle="minimize"
            >
              <span class="icon-menu"></span>
            </button>
          </div>
          <div>
            <a class="navbar-brand brand-logo" href="index.html">
              <img src="../../../assets/images/watukuy.jpeg" alt="logo"/>
              Watukuy
            </a>
            <a class="navbar-brand brand-logo-mini" href="index.html">
              <img src="assets/images/logo-mini.svg" alt="logo" />
            </a>
          </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
          <ul class="navbar-nav">
            <li class="nav-item fw-semibold d-none d-lg-block ms-0">
              <div>
                <h2>{{ saludo }}, <span class="text-black fw-bold">{{ nombrePropietario }}</span></h2>
              </div>
              <h3 class="welcome-sub-text">
                Bienvenido a tu panel de control, listo para empezar?
              </h3>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <form class="search-form" action="#">
                <i class="icon-search"></i>
                <input
                  type="search"
                  class="form-control"
                  placeholder="Search Here"
                  title="Search here"
                />
              </form>
            </li>

            <li class="nav-item dropdown d-none d-lg-block user-dropdown">
              <a
                (click)="confirmLogout($event)"
                class="nav-link mt-1"
                href=""
                aria-expanded="false"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="currentColor"
                  class="bi bi-box-arrow-in-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/inicio/locales']">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Locales</span>
              </a>
            </li>
            <li class="nav-item nav-category">Elementos</li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/inicio/eventos']">
                <i class="menu-icon mdi mdi-calendar"></i>
                <span class="menu-title">Eventos</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/inicio/fotos']">
                <i class="menu-icon fa fa-camera"></i>
                <span class="menu-title">Fotos</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/inicio/configuracion']">
                <i class="menu-icon mdi mdi-cog"></i>
                <span class="menu-title">Configuracion</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
  </body>
</html>
